@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  display: grid;
  place-content: center;
  @apply bg-zinc-800 bg-gradient-to-l from-cyan-800 to-slate-700 text-white;
}
